@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.font-button {
    font-family: "Montserrat", sans-serif;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px (10px * 62.5% = 6.25px) */
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    font-size: 1.6rem;
    /* 16px */
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    height: 9rem;
}

.header.scroll {
    background-color: #0B142F;
    /* Opacidade escura */
    opacity: .9;
    color: #fff;
    /* Cor do texto alterada ao rolar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra mais pronunciada ao rolar */
}


.top-nav {
    display: flex;
    justify-content: end;
}

.top-nav nav {
    margin-right: 1rem;

}

.logo img {
    max-height: 7rem;
    position: absolute;
    left: 5%;
    transform: translateY(-50%);
    /* 40px */
}

nav ul {
    max-width: 90rem;
    list-style-type: none;
    display: flex;
    gap: 2.5rem;
    margin-top: .8rem;
    margin-right: 1rem;

}

.icon-menu {
    display: none;
}

nav ul li img {
    display: none;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
    position: relative;
    font-weight: 400;
    margin: 0 1.4rem;
}

nav ul li a:hover::before {
    content: '';
    position: absolute;
    right: -1.3rem;
    top: 42%;
    height: .5rem;
    width: .5rem;
    border-radius: 100%;
    background-color: #C94480;
    color: #C94480;
}

.select-page {
    color: #C94480;
    text-shadow: -1px 1px 20px #C94480;
}

.select-page::before {
    content: '';
    position: absolute;
    right: -1.3rem;
    top: 42%;
    height: .5rem;
    width: .5rem;
    border-radius: 100%;

    background-color: #C94480;
    color: #C94480;
}

nav ul li a:hover {
    color: #C94480;
    text-shadow: -1px 1px 20px #C94480;
}

.cta {
    border: solid 1px #E0E0E0;
    border-radius: .5rem;
    height: 4rem;
    align-content: center;
}

.cta a {
    text-decoration: none;
    color: #E0E0E0;
    padding: 2rem;

}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    color: #fff;
    position: relative;
    width: 100%;
    padding: 0 4rem;
}

#inicio {
    min-height: 60rem;
    background-image: url('../img/projeto.jpg');
    background-size: cover;
    /* Redimensiona a imagem para caber dentro da seção sem cortar */
    background-position: center center;
    position: relative;
}

#inicio-second {
    height: 30rem;
    background-image: url('../img/projeto.jpg');
    background-size: cover;
    /* Redimensiona a imagem para caber dentro da seção sem cortar */
    background-position: center center;
    position: relative;
}

#inicio::before,
#inicio-second::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0B142F;
    /* Opacidade escura */
    opacity: .9;
}


.content-projeto {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding-right: 1rem;
}


#inicio-second .content-projeto {
    position: absolute;
    left: 5%;
    top: 63%;
    z-index: 1;
}



.content-projeto h1 {
    padding-left: 3rem;
    font-size: 4.8rem;
    position: relative;
    text-align: left;
    z-index: 1;
    max-width: 55rem;
}

#inicio-second .content-projeto h1 {
    max-width: 95rem;
}

.content-projeto h1 p {
    color: white;
    margin: -1.5rem 0rem;
    font-weight: 600;
    z-index: 5;
}

.content-projeto h1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 1rem;
    height: 82%;
    width: .6rem;
    border-radius: 1rem 0rem 0rem 1rem;
    background-color: #AA205E;
}

.descripton-projeto {
    text-align: left;
    color: #C2C2C2;
    margin-top: 2.5rem;
    font-weight: 400;
    max-width: 80rem;
}

.content-projeto button {
    background-color: #F5F5F5;
    outline: none;
    border: none;
    width: 20rem;
    height: 5rem;
    padding: 1rem 2rem;
    margin-top: 2.5rem;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 500;
    position: absolute;
    left: 0;

}

.content-projeto button:hover {
    background-color: rgba(255, 0, 0, 0);
    border: 2px solid #E0E0E0;
    color: white;
    cursor: pointer;
}

.neon {
    background-image: linear-gradient(45deg,
            rgba(201, 68, 128, 0.1) 0%,
            /* Cor C94480 com opacidade 10% */
            rgba(226, 23, 114, 0.16) 22%,
            /* Cor E21772 com opacidade 16% */
            rgba(183, 33, 100, 0.49) 100%
            /* Cor B72164 com opacidade 49% */
        );
    border-radius: 50rem 0rem 0rem 50rem;
    width: 30%;
    height: 85%;
    position: absolute;
    top: 0px;
    right: 0px;
    filter: blur(10rem);
}

/* segunda sessao*/
.content-missao {
    display: flex;
    width: 100%;
    padding: 8rem 0;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    /*background-color: #F6F6F6;*/
    z-index: 1;
}

.content-missao img {
    max-width: 60rem;
    min-width: 30rem;
    margin: auto 0rem;
}

.overview-projeto {
    width: 50rem;
}

.title-section {
    display: flex;
    align-items: center;
    z-index: 1;
}

.icon {
    font-size: 2.5rem;
    align-content: center;
    border-radius: .8rem;
    width: 3.2rem;
    height: 3.2rem;
    z-index: 5;
    color: #AA205E;
    background-color: #EAC7D7;
}

.fa-user {
    font-size: 2rem;
    background-color: #4A2B4E;
}

.title-section h2,
.title-section h4,
.title-section h5 {
    color: #1F1F1F;
    font-size: 1.8rem;
    font-weight: 400;
    margin-left: 1rem;
}

.title-section h4 {
    color: white;
}


.overview-projeto h3 {
    font-size: 3.5rem;
    font-weight: 600;
    color: #1F1F1F;
    text-align: left;
    margin: 2rem 0;
}

.overview-projeto p {
    color: #666C89;
    padding-bottom: 3rem;
    border-bottom: 3px solid #EDEDED;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 500;
}

.overview-projeto p:nth-last-child(1) {
    margin-top: 2rem;
    border: none;
}

#sobre {
    padding: 6rem 0;
    background-image: url('../img/projeto.jpg');
    background-size: cover;
    /* Redimensiona a imagem para caber dentro da seção sem cortar */
    background-position: center center;
    position: relative;
    display: flex;
    flex-direction: column;

}

#sobre::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0B142F;
    opacity: .9;
}

#sobre .neon {
    left: 0px;
}

.content-team {
    max-width: 160rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    z-index: 1;
}

.description-section {
    margin-top: 3rem;
    font-size: 2.8rem;
    font-weight: 600;
    z-index: 1;
}

.black {
    color: #0E243A;
}

.card-team,
.card-depoimento {
    display: flex;
    flex-direction: column;
    border: #6B6B6B 1px solid;
    background-color: #FFFEFE;
    width: 24rem;
    border-radius: 1rem;
}

.foto-perfil {
    height: 18rem;
    width: 18rem;
    border-radius: 100%;
    object-fit: cover;
    margin: 2rem auto;
}

.name-card {
    font-size: 2.1rem;
    font-weight: 600;
    color: #454545;
}

.identification-card {
    font-size: 1.4rem;
    font-weight: 500;
    color: #C6BDBD;
    margin: -.8rem 0;
}

.intro-card {
    font-size: 1.4rem;
    font-weight: 600;
    color: #6B6B6B;
    margin: 3rem .5rem;
}

#depoimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem 0;
}

.content-depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.box {
    background-color: #0E243A;
    max-height: auto;
    max-width: 100rem;
    padding: 4rem 4rem;
    margin: 3rem 0 10rem 0;
    position: relative;
    border-radius: 1rem;      
}

.box p {
    height: auto;
    width: auto; 
    text-align: center;    
}

.box::after {
    content: '';
    position: absolute;
    background-image: url('../img/aspas.png');
    background-repeat: no-repeat;
    top: -3rem;
    right: 4rem;
    width: 9rem;
    height: 9rem;

}

.box::before {
    content: '';
    position: absolute;
    bottom: -2.7rem;
    right: 50%;
    transform: translateX(50%);
    width: 0;
    height: 0;
    border-top: 3rem solid #0E243A;
    ;
    border-left: 1.8rem solid transparent;
    /* Lado esquerdo transparente */
    border-right: 1.8rem solid transparent;
    /* Lado direito transparente */
}


.card-depoimento {
    margin-top: -5rem;
    margin-bottom: 3rem;
    border: none;
    background-color: transparent;

}

.perfil-depoimento {
    width: 12.6rem;
    height: 12.6rem;
    margin: 0rem auto;
}

.name-depoimento {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
    color: #0E243A;
}

.identification-depoimento {
    font-size: 1.6rem;
    font-weight: 400;
    color: #6A6A6A;

}

.carousel-indicators {
    margin-bottom: -7.5rem !important;
    padding-bottom: 7rem;
}

.carousel-indicators button {
    background-color: #CFD3D8 !important;
    opacity: 1;
    width: 3.8rem !important;
    height: .4rem !important;
}

.carousel-indicators button.active {
    background-color: #0E243A !important;
    width: 4rem !important;
    height: .5rem !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(30%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    transform: scale(1.8);
    position: relative;
    top: 25%;
    transition: filter 0.3s ease, transform 0.3s ease;

}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    transform: scale(2.3);
}

footer {
    padding: 1rem 5rem;
    background-color: #0B142F;
}

.content-footer {
    display: flex;
    justify-content: space-around;
    margin: 5rem 0;

}

.title-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.logo-footer {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.logo-footer img{
    width: 9rem;
}

.logo-footer h1 {
    color: white;
    font-weight: 600;
    font-size: 3.2rem;
    width: 35rem;
}
.title-footer p {
    max-width: 50rem;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 400;
    color: #C2C2C2;
    margin-top: 3rem;
    word-wrap: break-word;
   
}

.info-footer {
    text-align: left;
}

.header-info {
    position: relative;
    padding-left: 2.5rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #FFFFFF;
}

.header-info::before {
    content: '';
    position: absolute;
    right: -1.3rem;
    top: 42%;
    left: 0rem;
    width: 1.5rem;
    height: .4rem;
    border-radius: 2rem;
    background-color: #C94480;
    color: #C94480;
}

.content-item {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.contate-us{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.info-item {
    color: #F5F5F5;
    position: relative;
    padding-left: 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 1rem;
    width: 25rem;
    word-wrap: break-word;    
}

.info-item::before {
    content: '';
    position: absolute;
    right: -1.3rem;
    top: .8rem;
    left: 0rem;
    width: .8rem;
    height: .8rem;
    border-radius: 100%;
    background-color: #C94480;
}

.info-item:nth-child(2)::before {
    content: '';
    position: absolute;
    right: -1.3rem;
    top: 0rem;
    left: 0rem;
    width: .1rem;
    height: 82%;
    border-radius: 100%;
    background-color: #F5F5F5;
}

.copy-footer {
    text-align: center;
    color: #757575;
    font-size: 1.8rem;
    position: relative;
    display: flex;
    justify-content: center;

}

/* biblioteca */
.content-books {
    display: flex;
    flex-direction: column;
}

.header-content-books {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1% 1%;
    
}

.header-content-books h2 {
    font-size: 4rem;
    font-weight: 500;
    color: #0B142F;
}

.search {
    position: relative;
}

.search input {
    height: 5rem;
    min-width: 30rem;
    position: relative;
    border-radius: 1rem;
    border: solid 1px black;
    padding-left: 3.5rem;
    outline: none;
}

.fa-magnifying-glass {
    color: #AA205E;
    font-size: 1.8rem;
    border-radius: 1rem;
    position: absolute;
    left: 1rem;
    top: 1.6rem;
}

.fa-chevron-right {
    font-size: 2rem;
    background-color: #AA205E;
    padding: .8rem 1.2rem;
    border-radius: 1rem;
    position: absolute;
    right: 1rem;
    top: .7rem;
    cursor: pointer;
}

#book-list {
    margin: 2rem 4rem;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    flex-wrap: wrap;
}

.book {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 60px; /* Reserva espaço para os botões */
    transition: transform 0.2s ease;
    /* Adiciona uma transição suave */
}

.content-book{
    display: flex;
    gap: 2rem;
    padding: 1rem 1rem;
    border-radius: .3rem;
}

.action-pdf{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.book:hover {
    transform: scale(1.1);
    /* Aumenta o tamanho do elemento */
    background-color: white;
    box-shadow: 0 0 10px #0b142f83;
    cursor: pointer;
}

.button-book{
    text-align: center;
    width: 18rem;
    height: 5rem;
    border: none;
    border-radius: .3rem;
    outline: none;
    background-color: #091242;
    color: white;
    font-size: 1.4rem;
}

.button-book:hover{
    background-color: #AA205E; 
}

.book:hover .action-pdf {
    opacity: 1;
}

.book img {
    width: 14rem;
    height: 22rem;
    object-fit: cover;
    margin-top: .8rem;
}

.info-book {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 24rem;

}

.title-book {
    font-size: 2.4rem;
    font-weight: 500;
    text-align: left;
    color: #0B142F;
}

.author-book {
    font-weight: 500;
    text-align: left;
    color: #626262;
}

.intro-book {
    color: #ACACAC;
    text-align: left;

}


@media (max-width: 1100px) {
    .content-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem 0;
    }
    .contate-us{
        display: flex;
        margin-left: 2rem;
        gap: 2rem;
        padding-top: 2rem;
    }
}

@media (max-width: 638px) {
    .content-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem 0;
        width: 100%;
    }
    .contate-us{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0rem;
        width: 100%;
    }
}

@media (max-width: 1029px) {
    
    .header-content-books h2 {
        font-size: 3rem;
        font-weight: 500;
        color: #0B142F;
    }
    

    #book-list {
        margin: 2rem 0;
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        flex-wrap: wrap;
    }
    
    .book {
       
        display: flex;
        gap: 2rem;
        padding: 1rem 1rem;
        border-radius: .3rem;
        transition: transform 0.2s ease;
        padding-bottom: 35px;
        /* Adiciona uma transição suave */
    }

    .book img {
        width: 11rem;
        height: 19rem;
        object-fit: cover;
        margin-top: .8rem;
        margin: auto 0;
    }
    
    .info-book {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 20rem;
      
    }
    
    .title-book {
        font-size: 1.8rem;
        font-weight: 500;
        text-align: left;
        color: #0B142F;
    }
    
    .author-book {
        font-size: 1.4rem;
        font-weight: 500;
        text-align: left;
        color: #626262;
    }
    
    .intro-book {
        font-size: 1.4rem;
        color: #ACACAC;
        text-align: left;
    
    }

    .button-book{
        width: 15rem;
        height: 3.2rem;
        font-size: 1.2rem;
    }

    .action-pdf{
        bottom: 7px;
      
    }
}


/* Grande (Tablet Landscape / Small Desktop) */
@media (max-width: 979px) {
    #book-list {
        margin: 2rem 0;
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        flex-wrap: wrap;
    }
    
    .book {
       
        display: flex;
        gap: 2rem;
        padding: 1rem 1rem;
        border-radius: .3rem;
        transition: transform 0.2s ease;
        padding-bottom: 35px;
        /* Adiciona uma transição suave */
    }

    .book img {
        width: 11rem;
        height: 19rem;
        object-fit: cover;
        margin-top: .8rem;
        margin: auto 0;
    }
    
    .info-book {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 20rem;
      
    }
    
    .title-book {
        font-size: 1.8rem;
        font-weight: 500;
        text-align: left;
        color: #0B142F;
    }
    
    .author-book {
        font-size: 1.4rem;
        font-weight: 500;
        text-align: left;
        color: #626262;
    }
    
    .intro-book {
        font-size: 1.4rem;
        color: #ACACAC;
        text-align: left;
    
    }

    .button-book{
        width: 15rem;
        height: 3.2rem;
        font-size: 1.2rem;
    }

    .action-pdf{
        bottom: 7px;
      
    }
    

    .content-missao img {
        max-width: 50rem;
        padding-bottom: 1rem;

    }

    .descripton-projeto {
        width: 100%;
    }

    .content-projeto h1 {
        padding-left: 2.5rem;
        font-size: 3.8rem;
    }

    .content-projeto h1 p {
        margin: -1.2rem 0rem;
    }

    /* Estilos básicos para o header e logo */
    .header {
        display: flex;
        align-items: center;
        height: 7rem;
    }

    .logo img {
        max-height: 5.7rem;
    }

    /* Estilos para o menu */
    .menu {
        position: relative;

    }

    /* Estilos para o ícone do menu */
    .icon-menu {
        display: none;
        padding-right: 1rem;
        font-size: 2.8rem;
        cursor: pointer;
        position: fixed;
        top: 2.3rem;
        right: .8rem;
        z-index: 11;

    }

    /* Estilos para o ícone do menu (padrão) */
    .menu-toggle .fa-x {
        display: none;
    }

    /* Estilos para o menu no modo mobile */
    .top-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: #0b142ff6;

    }

    nav ul {
        display: flex;
        flex-direction: column;

        margin-top: 5rem;
        text-align: center;

    }

    nav ul li img {
        display: block;
        max-height: 15rem;
        margin-bottom: 2rem;


    }

    nav ul li a {
        text-decoration: none;
        color: white;
        font-weight: 600;

    }

    .cta {
        margin-top: 4rem;
    }

    /* Menu oculto por padrão em dispositivos móveis */
    .top-nav {
        display: none;
    }


    /* Mostrar o menu e ícones conforme a necessidade */
    .menu-toggle .fa-bars {
        display: block;
    }

    .menu.active .top-nav {
        display: flex;

    }

    .menu.active .fa-bars {
        display: none;
    }

    .menu.active .fa-x {
        display: block;
    }


}

@media (min-width: 980px) and (max-width: 1135px) {
    nav ul {
        gap: 0rem;
    }
}

@media (max-width:670px){
    .header-content-books {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 1% 1%;
        
    }
    
    .header-content-books h2 {
        font-size: 2.8rem;
        font-weight: 500;
        color: #0B142F;
    }
    
    .search {
        position: relative;
    }
    
    .search input {
        height: 4.5rem;
        min-width: 28rem;
        position: relative;
        border-radius: 1rem;
        padding-left: 3.5rem;
    }

    .fa-magnifying-glass {
        color: #AA205E;
        font-size: 1.8rem;
        border-radius: 1rem;
        position: absolute;
        left: 1rem;
        top: 1.4rem;
    }
    
    .fa-chevron-right {
        font-size: 1.8rem;
        background-color: #AA205E;
        padding: .8rem 1.2rem;
        border-radius: 1rem;
        position: absolute;
        right: 1rem;
        top: .5rem;
        cursor: pointer;
    }
}

@media (max-width:600px) {
    .header-content-books {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 3rem -2rem;
        
    }
    
    .header-content-books h2 {
        font-size: 2.8rem;
        font-weight: 500;
        color: #0B142F;
    }
    
    .search {
        position: relative;
    }
    
    .search input {
        height: 4.5rem;
        min-width: 25rem;
        position: relative;
        border-radius: 1rem;
        padding-left: 3.5rem;
    }

    .fa-magnifying-glass {
        color: #AA205E;
        font-size: 1.8rem;
        border-radius: 1rem;
        position: absolute;
        left: 1rem;
        top: 1.4rem;
    }
    
    .fa-chevron-right {
        font-size: 1.8rem;
        background-color: #AA205E;
        padding: .8rem 1.2rem;
        border-radius: 1rem;
        position: absolute;
        right: .3rem;
        top: .5rem;
        cursor: pointer;
    }
}

@media (max-width: 510px) {
    .header-content-books {
        display: flex;
        justify-content: center;
        margin: 3rem 0;
        gap: 2rem;
        
    }
    
    .header-content-books h2 {
        font-size: 2.8rem;
        font-weight: 500;
        color: #0B142F;
    }
    
    .search {
        position: relative;
    }
    
    .search input {
        height: 4.5rem;
        min-width: 35rem;
        position: relative;
        border-radius: 1rem;
        padding-left: 3.5rem;
    }

    .fa-magnifying-glass {
        color: #AA205E;
        font-size: 1.8rem;
        border-radius: 1rem;
        position: absolute;
        left: 1rem;
        top: 1.4rem;
    }
    
    .fa-chevron-right {
        font-size: 1.8rem;
        background-color: #AA205E;
        padding: .8rem 1.2rem;
        border-radius: 1rem;
        position: absolute;
        right: 1rem;
        top: .5rem;
        cursor: pointer;
    }
}

@media (max-width: 500px) {
    .header-content-books h2 {
        font-size: 2.5rem;
        
    }
    
    .book img {
        width: 8rem;
        height: 15rem;
        object-fit: cover;
        margin-top: .8rem;
        margin: auto 0;
    }
    
    .info-book {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 20rem;
    }
    
    .title-book {
        font-size: 1.7rem;
        font-weight: 500;
        text-align: left;
        color: #0B142F;
    }
    
    .author-book {
        font-size: 1.3rem;
        font-weight: 500;
        text-align: left;
        color: #626262;
    }
    
    .intro-book {
        font-size: 1.3rem;
        color: #ACACAC;
        text-align: left;
    
    }
    .box {
        padding: 2rem 2rem;
        margin: 3rem 0 10rem 0;
    }

    .box::after { 
        background-size: contain;
        top: -2rem;
        right: 5rem;
        width: 4.5rem;  
    }
}

@media (max-width: 430px){
    #inicio-second {
        min-height: 35rem;
        padding-bottom: 3rem;
    }
    
    

    .title-footer {
        display: flex;
        flex-direction: column;
        
    } 
    
    .logo-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        align-items: center;
       
    }
    
    .logo-footer img{
        width: 9rem;
    }
    
    .logo-footer h1 {
        color: white;
        font-weight: 600;
        font-size: 2.2rem;
        width: 100%;
        text-align: center;
    }
    .title-footer p {
        text-align: left;
        font-size: 1.4rem;
        font-weight: 400;
        color: #C2C2C2;
        margin-top: 3rem; 
           
    }

}

@media (max-width: 390px) {
    .content-projeto h1 {
        padding-left: 2rem;
        font-size: 2.6rem;
    }

    .book img {
        width: 7rem;
        height: 14rem;
        object-fit: cover;
        margin-top: .8rem;
        margin: auto 0;
    }
    
    .info-book {
        gap: .5rem;
        width: 18rem;
 
    }
    
    .title-book {
        font-size: 1.6rem;

    }
    
    .author-book {
        font-size: 1.2rem;
    }
    
    .intro-book {
        font-size: 1.2rem;
        
    }
    .box {
        padding: 2rem 2rem;
        margin: 3rem 0 10rem 0;
    }

    .box::after { 
        background-size: contain;
        top: -2rem;
        right: 5rem;
        width: 4.5rem;  
    }
    .book:hover {
        transform: scale(1);
        /* Aumenta o tamanho do elemento */
        background-color: white;
        box-shadow: 0 0 10px #0b142f83;
        cursor: pointer;
    }
    .button-book{
        width: 13rem;
        height: 3.2rem;
        font-size: 1.2rem;
    }
}

